{% extends 'base/list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'cobro/js/cuenta_x_cobrar_list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">N°</th>
        <th scope="col" style="width: 20%;">Nro. Cta</th>
        <th scope="col" style="width: 20%;">Cliente</th>
        <th scope="col" style="width: 20%;">Fecha Venta</th>
        <th scope="col" style="width: 20%;">Condicion </th>
        <th scope="col" style="width: 20%;">Fecha Plazo</th>
        <th scope="col" style="width: 20%;">Cta. Por Cobrar</th>
        <th scope="col" style="width: 20%;">Saldo</th>
        <th scope="col" style="width: 20%;">Estado</th>
        <th scope="col" style="width: 20%;">Cobro</th>
    </tr>
 
{% endblock %}

{% block rows %}

{% endblock %}
{% block buttons_list %}

{% endblock %}
{% block javascript %}
<div class="modal fade" id="myModelCob" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
   <div class="modal-content">
       <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLabel"><b><i class="fas fa-money"></i> Cobros </b></h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
           </button>
       </div>
       <div class="modal-body">
           <table class="table table-bordered" id="tblCob">
               <thead>
               <tr><th>Fecha Cobro</th>
                   <th>Monto Cobrado</th>
                   <th>Caja </th>
                   <th>Cajero </th>
                   <th>Forma Cobro</th>
                   <th>Efectivo Recibido</th>
                   <th>Vuelto</th>
               </tr>
               </thead>
               <tbody>
               </tbody>
           </table>
       </div>
   </div>
</div>
</div>
{% endblock %}