{% extends 'base/list.html' %}
{% load static %}
{% block head_list %}
<!--jquery-ui para usar autocompletado-->
    <link href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<!--Select2-->
    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
<!--para usar el calendario-->
    <script src="{% static 'lib/moment-2.25.3/moment-with-locales.js' %}"></script>
    <script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>
<!--para incrementar el iva-->
    <link href="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>
<!--Compra-->
    <script src="{% static 'compra/js/create.js' %}"></script>
{% endblock %}

{% block content %}
<form method="post">
    <div class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title">
                {% if action == 'add' %}
                    <i class="fas fa-plus"></i>
                {% else %}
                    <i class="fas fa-edit"></i>
                {% endif %}
    
                {{ title }}
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card card-secondary">
                        <div class="card-header"> 
                            <h3 class="card-title"><i class="fas fa-boxes"></i>Detalles de Orden</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered" id="tbOrderC" >
                                <thead>
                                    <tr>
                                        <th>Proveedor</th>
                                        <th>Excentas</th>
                                        <th>IVA. 5%</th>
                                        <th>IVA. 10%</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        
                        <div class="card-body">
                            <table class="table table-bordered" id="tbProductos" >
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Precio Unitario</th>
                                        <th>Cantidad</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-shopping-cart"></i> Compra</h3>
                        </div>
                        <div class="card-body">
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Buscar orden de compra:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="search" placeholder="Ingrese el nro orden" autocomplete="off">
                                        <span class="input-group-append">
                                            <button type="button" class="btn btn-danger btn-flat btnClearSearch"><i class="fas fa-times"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="action" value="{{ action }}">
                            <div class="form-group">
                                <label>Fecha de Compra:</label>
                                {{form.fecha_compra}}
    
                            </div>
                            <div class="form-group">
                                <label>Factura Compra:</label>
                                {{form.nro_factura}}
    
                            </div>
                            <div class="form-group">
                                <label>TipoCompra:</label>
                                {{form.tipo_compra}}
                              
                            </div>
                                <div class="form-group">
                                   
                                    <label>Fecha de plazo:</label>
                                    {{form.fecha_plazo }}
                                
                                </div>
                            
    
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-secondary btn-flat">
                <i class="fas fa-save"></i> Guardar registro
            </button>
            <a href="{{ list_url }}" class="btn btn-danger btn-flat">
                <i class="fas fa-times"></i> Cancelar
            </a>
        </div>
    </div>
</form>
<script>
    //comp.items.productos= {{ det|safe}};
    //comp.list();
    comp.pr={{ det|safe}};
    comp.items.productos=comp.pr;
    comp.list();
</script>
{% endblock %}